.top-page{
	height: 100%;
  h2{
  	font-family:initiail;
  	margin: 0;
  	padding-left: 10px;
  	padding-top: 3px;
  	background: #238;
  	color: white;
    font-size: 15px;
    line-height: 33px;
  }
  .contents{
  	width: 90%;
  	height: initial;
  	border: 1px solid #eee;
  	margin: 40px auto 30px auto;
  	border-radius: 10px;
  	float: none;
  	padding: 0;
  }
  .content{
    p{
      padding-top: 5px;
      padding-left: 20px;
      padding-bottom: -3px;
    }
    &_name{
      width: 50%;
      border-bottom: 1px solid #555;
      text-align: center;
      padding-left: 5px;
      padding-top: 1px;
      padding-bottom: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis; /* Opera9,10対応 */
    }
    &_deadline{
      width: 40%;
      border-bottom: 1px solid #555;
      padding-left: 30px;
    }
    li{
      display: flex;
      padding: 3px;
    }
    li:last-child{
      border: none;
    }
    &-report{
      h2{
      background: #5CB3FF;
      }
    }
    &-small_test{
      h2{
      background: #59E817;
      }
    }
    &-others{
      h2{
      background: #B6B6B4;
      }
    }
  }
}