.top-page{
	height: 100%;
  h2{
  	font-family:initiail;
  	margin: 0;
  	padding-left: 10px;
  	padding-top: 3px;
  	background: #238;
  	color: white;
    font-size: 15px;
    line-height: 33px;
  }
  .contents{
  	width: 90%;
  	height: initial;
  	border: 1px solid #eee;
  	margin: 40px auto 30px auto;
  	border-radius: 10px;
  	float: none;
  	padding: 0;
  }
}