
<div class="header">
<h1>Applied Physics</h1>
<div class="dropmenu">
<ul class="dropdown">
<li><a class="dropdown-toggle" data-toggle="dropdown" href="#">MENU<b class="caret"></b></a>
    <ul class="dropdown-menu bullet pull-right">
      <li><%= link_to '新規登録', new_event_path,'data-no-turbolink' => true%></li>
      <li><%= link_to '情報一覧', events_path, 'data-no-turbolink' => true%></li>
      <li><%= link_to 'お問い合わせ', 'https://twitter.com/applied_w'%></li>
      <li><%= link_to 'トップに戻る', 'https://twitter.com/applied_w'%></li>
    </ul>
</li>
</ul>
</div>
</div>


<div id="calendar"></div>