<%= render partial: "events/navi"%>
<div class="top-page">
	<div class="report contents">
		<h2>今週のレポート</h2>
		<div class="content">
		</div>
	</div>
	<div class="small_test contents">
		<h2>今週の小テスト</h2>
		<div class="content">
		</div>
	</div>
	<div class="others contents">
		<h2>その他</h2>
		<div class="content">
		</div>
	</div>
</div>