.wrapper{
	width: 100%;
	height: 100%;
  font-family: fantasy;
	background-color: #eee;
}


li {
  list-style: none;
}

a:hover {
text-decoration:none;
border-style:none; 
background-color:transparent;
}

.header {
  height: 65px;
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  border-bottom: 1px solid #dddddd;
  font-family: fantasy;
  background-color:#f5f5f5 !important;
  line-height:45px;
  }

.header-left {
  float: left;
  padding: 10px 60px;
  font-size: 30px;
}

.header-right {
  margin-left: 300px;
  float:right;
  padding-right:50px;
}

.header-right li {
  float: left;
  padding: 20px 30px;
}

.selected {
 font-size: 20px;
}

.main {
  width: 1300px;
}


.contents {
  height: 600px;
  width: 100%;
  float: left;
  padding: 30px;
  font-family: fantasy;
}

.title1 {
  width:100%;
  height:65px;
  background-size: cover;
  background-image: url("oubutsu1.jpg");
  margin-bottom: 100px;
}

.contents-top {
  height: 300px;
  width: 1170px;
}

.contents-top h1 {
  margin-bottom: 30px;
}

.contents-top-item {
  width: 350px;
  float: left;
  padding-left: 30px;
  margin-right: 30px;
}

.contents-top-item h2 {
  margin-bottom: 10px;
}

.block1{
  width:300px;
  height:300px;
}

.test{
  color:#40BFB0;
  font-weight: bold;
}
.report{
  color:#e6855e;
  font-weight: bold;
}

.others{
  color: #f9db57;
  font-weight: bold;
}
